/* VIEWPORT ADJUSTEMENTS */
/* Large desktop */
@media (min-width: 1200px) { 
    body {
        padding-left: 50px;
        padding-right: 50px;
    }
    .item {
        /* 3 per line */
	width: 30%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
    body {
        padding-left: 30px;
        padding-right: 30px;
    }
    .item {
        /* 2 per line */
        width: 45%; 
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .item {
        /* 1 per line */
        width: 90%; 
	font-size: 125%;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) { 
    body {
        padding-left: 5px;
        padding-right: 5px;
    }
    .item {
	/* 1 per line */
        width: 90%; 
	font-size: 140%;

    }

}



/* PAGE */
html {
    margin: 0;
    padding: 0.5em;
}
body {
    color: black;
    font-size: 16px;
    background-color: #dddddd;
}
a {
    color: black;
    text-decoration: none;
}

#footer {
    clear: both;
    background-color: #faf8cf;
    border: 1px solid gray;
    color: gray;
    text-align: center;
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 3em;
    font-size: x-small;
}

#navigation {
    font-size: small;
    background-color: #faf8cf;
    border: 1px solid gray;
    border-radius: 0 0.5em 0.5em 0;
    -khtml-border-radius: 0 0.5em 0.5em 0;
    -moz-border-radius: 0 0.5em 0.5em 0;
    -webkit-border-radius: 0 0.5em 0.5em 0;
    color: black;
}
#navigation li {
    display: inline;
    list-style-type: none;
}

#navigation a {
    color: gray;
}

#navigation a:hover {
    background-color: #faf8cf;
    color: black;
}

#navigation a:visited {
    background-color: #faf8cf;
    text-decoration: line-through;
}

h2 {
    text-align: right;
    font-style: italic;
}

/* ITEMS */
.item {
    float: left;
    /* set in viewport width: */
    background-color: #f8f8f8; 
    border: thin solid #a6a6a6;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -khtml-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
    margin: 1em;
    margin-right: 0;
    padding: 0.5em;
    text-align : justify;
    display: block; 
}

a:hover {
    text-decoration: none;
    background-color: #fdfdfd;
}
a:visited {
    background-color: #e2e2e2;
    color: #686868;
}

.itemhead {
    border: thin solid;                                          
    border-radius: 0.5em 0em 0em 0em;
    -moz-border-radius: 0.5em 0em 0em 0em;
    -khtml-border-radius: 0.5em 0em 0em 0em;
    -webkit-border-radius: 0.5em 0em 0em 0em;
    font-size: normal;
    position: relative;
    top: -0.8em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.iteminfo {
    border: thin solid;                                 
    float: right;
    margin-top: 1em;
    margin-right: -1em;
    margin-left: 1em;
    padding: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    
}

/* ITEMS PER GROUP: too much fuss to name per category (language, changes, etc) so it is numbered */

.itemhead1 { color: white; border-color: #a86868; background-color: #dd7979; }
.iteminfo1 { border-color: #a86868; background-color: #efa9a9; } 

.itemhead2 { border-color: #68964a; background-color: #b7ff8c;  }
.iteminfo2 { border-color: #68964a; background-color: #8cbb6e;  }

.itemhead3 { border-color: #65a795; background-color: #b2ffe8;  }
.iteminfo3 { border-color: #65a795; background-color: #8db6ab;  }

.itemhead4 { color: #e0714a; border-color: #e0714a;  background-color: #363636;  }
.iteminfo4 { color: #e0714a; border-color: #e0714a; background-color: #212121;  }

.itemhead5 { border-color: #7660a8; background-color: #a881ff;  }
.iteminfo5 { border-color: #7660a8; background-color: #8a7bac;  }

.itemhead6 { border-color: #78868B; background-color: #C1D7DE;  }
.iteminfo6 { border-color: #78868B; background-color: #B1C5CC;  }

.itemhead7 { border-color: #A8B17B; background-color: #f1ffb1;  }
.iteminfo7 { border-color: #A8B17B; background-color: #e3d7a7;  }
